.tile{
    width: calc(100% / 4 - 30px);
    height: calc(100% / 4);
    display: inline;
    float: left;
    margin :10px;
    border-radius: 5px;
    background-color: white;
}

.tileinfo{
    width: 100%;
    height : 30px;

}

.info{
    width:69%;
    height: 30px;
    display: inline;
    font-size: 12px;
    overflow: hidden;
    margin:1px;

}
.rating{
    width:29%;
    height: 30px;
    display: inline;
    font-size: 14px;
    overflow: hidden;
    margin:1px;

}
img{
    width:100%;
    
}